.content{
   text-align: center;
   padding-top: 100px;
}
body{
   padding-top: 100px;
}
.navbar{
   background-color: #fff;
}
/* .banner img{
   border-radius: 15px; */
/* } */
.banner img {
  border-radius: 15px;
  width: 100%;   /* Responsive image */
  height: auto;
  object-fit: cover;
}
.banner{
   position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner .content {
  position: absolute;
  color: white;
}

.site-footer a{
   text-decoration: none;
   margin-left: 20px;
   font-size: 18px;
   color: black;
   opacity: 0.4;
} 
.site-footer a:hover{
   opacity: 1;
}
.footer-icons{
   margin-top: 30px;
}
.site-footer{
   margin-top: 50px;
   padding-top : 100px ;
   padding-bottom: 30px;
   text-align: center;
   border-top: 2px solid rgb(209, 206, 206);
   border-bottom: 2px solid rgb(209, 206, 206);
} 
.footer-2 a{
   text-decoration: none;
   color: #f89231;
}
.footer-2{
   text-align: center;
   color: black;
   opacity: 0.7;
   font-size: 14px;
   border-bottom: 2px solid rgb(209, 206, 206);
   padding-top: 10px;
   padding-bottom: 10px;
}
.carousel-control-prev-icon{
   position: absolute;
   left: 0px;
}
.carousel-control-next-icon {
   position: absolute;
   right: 0;
}

.section-write{
   font-size: 18px;
   font-weight: 600;
}